@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: 100%;

	@apply font-poppins bg-black;
}

#__next {
	width: 100%;
	height: 100%;
}

a, button {
	@apply text-light-blue-100 font-poppins;
}

.outline--focus {
	@apply focus:outline-none focus:ring-4 focus:ring-accent-blue-900/30 focus:ring-offset-2 focus:ring-offset-accent-blue-900 focus:bg-transparent;
}

.line--detail {
	@apply after:w-1/12 after:max-w-[100px] after:min-w-[50px] after:h-0.5 after:bg-gray-200-transparent after:my-6;
}
